﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.footer-content {
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    color: #EE7E00;
    font-weight: bold;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.footer-color {
    background-color: #004A17;
}

/*.box-shadow-green {
    box-shadow: 5px 2px 3px #004B24;
    /*background-color: #004A17;
    color:#fff
}*/

.content-style {
    background: #F8F9FA;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    /*margin-right: 5px;
    margin-right: 5px;*/
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F8F9FA;
    color: #004A17;
    transition: all 0.3s;
    margin-right:5px;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 9px;
        background: #F8F9FA;
        /*box-shadow: 5px 2px 3px #004B24;*/
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #F8F9FA;
    }

    #sidebar ul p {
        color: #004A17;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1em;
        display: block;
    }
   
        #sidebar ul li a:hover {
            color: #004A17;
            background: #fff;
            border-right: 1px solid #004B24
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #004A17;
        background: #F8F9FA;
        border-right: 3px solid #004B24
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F8F9FA;
}

ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 60px !important;
    background: #F8F9FA;
}


ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }


a.article,
a.article:hover {
    background: #F8F9FA !important;
    color: #004A17 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*min-height: 100vh;*/
    transition: all 0.3s;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* CAROUSEL CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}