﻿
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Acessar Internet Banking</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="form-group">
                                    <label for="uname1">Agência</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="agencia" id="agencia" required="true">
                                    <div class="invalid-feedback">Informe a Agência.</div>
                                </div>
                                <div class="form-group">
                                    <label for="uname1">Conta Corrente</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="contaCorrent" id="contaCorrent" required="true">
                                    <div class="invalid-feedback">Informe a Conta Corrente.</div>
                                </div>
                                <div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Acessar</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>

            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->