﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Credisan</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="shortcut icon" type="image/x-icon" href="~/images/C.PNG" />
    </environment>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.PNG" style="width:200px" /></a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#produtos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Produtos</a>
                    <ul class="collapse list-unstyled" id="produtos">
                        <li>
                            <a href="#empretimos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empréstimos</a>
                            <ul class="collapse list-unstyled" id="empretimos">
                                <li>
                                    <a href="#">Cheque Especial</a>
                                </li>
                                <li>
                                    <a href="#">Conta Garantida - Pessoa Jurídica</a>
                                </li>
                                <li>
                                    <a href="#">Crédito Pessoal</a>
                                </li>
                                <li>
                                    <a href="#">Cred Veículos</a>
                                </li>
                                <li>
                                    <a href="#">Desconto de Cheques</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Conta Corrente</a>
                        </li>
                        <li>
                            <a href="#recibo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">R.D.C</a>
                            <ul class="collapse list-unstyled" id="recibo">
                                <li>
                                    <a href="#">Pré Fixado</a>
                                </li>
                                <li>
                                    <a href="#">Pró Fixado</a>
                                </li>
                                <li>
                                    <a href="#">Crédito Pessoal</a>
                                </li>
                                <li>
                                    <a href="#">Cred Veículos</a>
                                </li>
                                <li>
                                    <a href="#">Desconto de Cheques</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#empretimos_servico" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Serviços</a>
                            <ul class="collapse list-unstyled" id="empretimos_servico">
                                <li>
                                    <a href="#">Seguro</a>
                                </li>
                                <li>
                                    <a href="#">Cartã de Crédito</a>
                                </li>
                                <li>
                                    <a href="#">Plano de Saúde</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#servicos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Serviços</a>
                    <ul class="collapse list-unstyled" id="servicos">
                        <li>
                            <a href="#boleto_cobranca" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empréstimos</a>
                            <ul class="collapse list-unstyled" id="boleto_cobranca">
                                <li>
                                    <a href="#">Reemissão de Boleto Vencido</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Cheque Legal</a>
                </li>
                <li>
                    <a href="#">Segurança</a>
                </li>
                <li>
                    <a href="#">Eventos</a>
                </li>
                <li>
                    <a href="#">Trabalhe Conosco</a>
                </li>
                <li>
                    <a href="#">Relacionamento</a>
                </li>

                <li>
                    <a href="#sobre_nos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">A Credisan</a>
                    <ul class="collapse list-unstyled" id="sobre_nos">
                        <li>
                            <a href="#">Quem Somos</a>
                        </li>
                        <li>
                            <a href="#">Diretoria</a>
                        </li>
                        <li>
                            <a href="#">Estatuto</a>
                        </li>
                        <li>
                            <a href="#">Tarifas e Serviços</a>
                        </li>
                        <li>
                            <a href="#">PRSA</a>
                        </li>
                        <li>
                            <a href="#">Sistema de Informação de Crédito</a>
                        </li>

                    </ul>
                </li>
                @*<li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Navegação</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Graficos">Gráficos</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Carrocel">Carrocel</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Formulario">Formulário</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Componentes">Componentes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>*@
            </ul>
            <ul class="list-unstyled CTAs"></ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-green">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-light">
                        <i class="fa fa-bars success"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="cobranca">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cobrança
                                </a>
                                <div class="dropdown-menu" aria-labelledby="cobranca">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a asp-area="" asp-controller="Auth" asp-action="Index">Internet Banking</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container content-style">
                @RenderBody()
            </div>
        </div>
        <footer class="fixed-bottom footer-color">
            <label class="footer-content">2018 - Credisan</label>
        </footer>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
